extends layout

block content
    .jumbotron
        h1 Blog API
        p.lead
            | Login in an create blog posts
        p
            a.btn.btn-lg.btn-success(href='/login', role='button') Login
