doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    link(rel='stylesheet', href='http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css')

  body
    .container
      .header.clearfix
        nav
          ul.nav.nav-pills.pull-right
            li.active(role='presentation')
              a(href='#') Home
            li(role='presentation')
              a(href='#') About
        h3.text-muted Consuming Blog API

      block content

    footer.footer
        p © 2015 Company, Inc.

