.ui-alert {
	background-color: #f2dede;
	padding: 20px;
	border-radius: 5px;
	margin: 20px auto;
}

.ui-alert-title {
	color: #af4341;
	font-weight: bold;
	font-size: 18px;
}

.ui-alert-message {
	color: #AF4341;
	line-height: 2em;
}